<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/iGRC.html :: headerfiles"></th:block>
<title>iGRC :: Parameters</title>
</head>
<body class="fixed-nav sticky-footer bg-dark">

	<nav th:replace="fragments/iGRC.html :: mainNav"></nav>


	<div class="content-wrapper">
		<div class="container-fluid">

			<ol class="breadcrumb">
				<li class="breadcrumb-item">Parameter</li>
				<li class="breadcrumb-item active">Parameter View</li>
			</ol>

			<div class="alert alert-success" th:if="${successMessage}"
				th:text="${successMessage}"></div>

			<div class="card mb-3">
				<div class="card-header">Parameter List</div>
				<div class="card-body">

					<div class="table-responsive">
						<div id="dataTable_wrapper"
							class="dataTables_wrapper container-fluid dt-bootstrap4">
							<div class="col-sm-12">
								<table class="table table-bordered dataTable" id="dataTable"
									width="100%" cellspacing="0" role="grid"
									aria-describedby="dataTable_info" style="width: 100%;">
									<thead>
										<tr role="row">
											<th class="sorting_asc" tabindex="0"
												aria-controls="dataTable" rowspan="1" colspan="1"
												aria-sort="ascending"
												aria-label="Parameter ID: activate to sort column descending"
												style="width: 10%;">Param.ID</th>
											<th class="sorting" tabindex="0" aria-controls="dataTable"
												rowspan="1" colspan="1"
												aria-label="Name: activate to sort column ascending"
												style="width: 30%;">Name</th>
											<th class="sorting" tabindex="0" aria-controls="dataTable"
												rowspan="1" colspan="1"
												aria-label="Description: activate to sort column ascending"
												style="width: 50%;">Description</th>
											<th style="width: 5%;">Update</th>
											<th style="width: 5%;">Delete</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th rowspan="1" colspan="1">Param.ID</th>
											<th rowspan="1" colspan="1">Name</th>
											<th rowspan="1" colspan="1">Description</th>
											<th rowspan="1" colspan="1">Update</th>
											<th rowspan="1" colspan="1">Delete</th>
										</tr>
									</tfoot>
									<tbody>
										<tr role="row" class="odd" th:each="parameter : ${parameters}">
											<td class="sorting_1"><a
												th:href="@{/parameter/show(guid=${parameter.guid})}"
												th:text="${parameter.paramid}"></a></td>
											<td th:text="${parameter.name}"></td>
											<td th:text="${parameter.description}"></td>
											<td align="center"><a th:href="@{/parameter/update(guid=${parameter.guid})}"><i class="fas fa-edit"></i></a></td>
											<td align="center"><a th:href="@{/parameter/delete(guid=${parameter.guid})}"><i class="far fa-trash-alt"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>
				<div class="card-footer">
					<a th:href="@{/parameter/create}" class="btn btn-primary">Create New Parameter</a>
				</div>

			</div>

		</div>
	</div>

	<div th:replace="fragments/iGRC.html :: logoutModal"></div>

	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
	<script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
	<script th:src="@{/js/sb-admin.min.js}"></script>
	<script th:src="@{/js/sb-admin-datatables.min.js}"></script>
	<script th:src="@{/js/sb-admin-charts.min.js}"></script>

</body>
</html>