<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/iGRC.html :: headerfiles"></th:block>
<title>iGRC :: Risk Assessment</title>

</head>
<body class="fixed-nav sticky-footer bg-dark">

	<nav th:replace="fragments/iGRC.html :: mainNav"></nav>
	
	
	<div class="content-wrapper">
		<div class="container-fluid">
			
			<ol class="breadcrumb">
				<li class="breadcrumb-item">Risk Assessment</li>
				<li class="breadcrumb-item active" th:if="${#bools.isTrue(show)}">Risk Assessment Show</li>
				<li class="breadcrumb-item active" th:if="${#bools.isTrue(update)}">Risk Assessment Update</li>
				<li class="breadcrumb-item active" th:if="${#bools.isFalse(show) && #bools.isFalse(update)}">Assess New Risk</li>
				
			</ol>
			
			<div class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}"></div>
			
			<form th:action="@{/riskassessment/save}" method="POST" th:object="${riskassessment}">
				<div class="card mb-3">
					<div class="card-header">Basic Data</div>
					<div class="card-body">
						<div class="form-group">
							<label for="raID">ID</label>
							<input type="text" th:field="*{raID}" class="form-control" th:readonly="${#bools.isTrue(show) ? 'readonly' : 'false'}">
							<input type="hidden" th:attr="name='guid'" th:value="${riskassessment.guid}">
						</div>
						<div class="form-group">
							<label for="name">Risk Assessment</label>
							<input type="text" th:field="*{name}" class="form-control" th:readonly="${#bools.isTrue(show) ? 'readonly' : 'false'}">
						</div>
						<div class="form-group">
							<label for="description">Description</label>
							<textarea cols="20" th:field="*{description}" class="form-control" th:readonly="${#bools.isTrue(show) ? 'readonly' : 'false'}"></textarea>	
						</div>
						<div class="form-group">
						  <label for="qlPotDamage">Potential Qualitative Damage / Impact</label>
						  <select class="form-control" th:field="*{qlPotDamage}" th:readonly="${#bools.isTrue(show) ? 'readonly' : 'false'}">
						    <option th:each="qldamage : ${qldamages}" value="${qldamage.paramid}" th:utext="${qldamage.name}">
						  </select>
						</div>
						<div class="form-group">
						  <label for="qtPotDamage">Potential Quantitative Damage / Impact</label>
						  <input type="number" min="0.00" max="1000000.00" step="0.01" th:field="*{qtPotDamage}" class="form-control" th:readonly="${#bools.isTrue(show) ? 'readonly' : 'false'}">
						</div>
						<div class="form-group">
						  <label for="qlPotProbability">Potential Qualitative Probability</label>
						  <select class="form-control" th:field="*{qlPotProbability}" th:readonly="${#bools.isTrue(show) ? 'readonly' : 'false'}">
						    <option th:each="probab : ${probabs}" value="${probab.paramid}" th:utext="${probab.name}">
						  </select>
						</div>
						<div class="form-group">
						  <label for="qtPotOccFreq">Potential Quantitative Probability</label>
						  <input type="number" min="0" max="100" step="1" th:field="*{qtPotOccFreq}" class="form-control" th:readonly="${#bools.isTrue(show) ? 'readonly' : 'false'}">
						</div>
						<div class="form-group">
						  <label for="potTrend">Potential Trend</label>
						  <select class="form-control" th:field="*{potTrend}" th:readonly="${#bools.isTrue(show) ? 'readonly' : 'false'}">
						    <option th:each="trendopt : ${trendopts}" value="${trendopt.paramid}" th:utext="${trendopt.name}">
						  </select>
						</div>
						<div class="form-group">
							<label for="assessDate">Assess Date</label>
							<input type='date' class="form-control" th:field="*{assessDate}" data-date-format="dd/MM/yyyy" th:readonly="${#bools.isTrue(show) ? 'readonly' : 'false'}"/>
						</div>
						<div class="form-group">
							<label for="obsOwner">Observation</label>
							<textarea cols="20" th:field="*{obsOwner}" class="form-control" th:readonly="${#bools.isTrue(show) ? 'readonly' : 'false'}"></textarea>	
						</div>
						<div class="form-group">
							<label for="documents">Documents</label>
							<input type="text" th:field="*{documents}" class="form-control" th:readonly="${#bools.isTrue(show) ? 'readonly' : 'false'}">
						</div>
					</div>
					<div class="card-footer" th:if="${#bools.isFalse(show)}">
						<button type="submit" th:if="${#bools.isFalse(update)}" class="btn btn-primary" name="action" value="assess">Save Data</button>
						<button type="submit" th:if="${#bools.isTrue(update)}" class="btn btn-primary" name="action" value="update">Save Data</button>
						<a class="btn btn-danger" href="#" onClick="window.history.go(-1)">Cancel</a>
					</div>
					<div class="card-footer" th:if="${#bools.isTrue(show)}">
						<a class="btn btn-primary" href="#" onClick="window.history.go(-1)">Back to Risk Assessment View</a>
					</div>
				</div>
			</form>
					
		</div>
	</div>
	
	<div th:replace="fragments/iGRC.html :: logoutModal"></div>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap-datepicker-v1.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap-datepicker.pt-BR-v1.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
<script th:src="@{/vendor/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/vendor/datatables/dataTables.bootstrap4.js}"></script>
<script th:src="@{/js/sb-admin.min.js}"></script>
<script th:src="@{/js/sb-admin-datatables.min.js}"></script>
<script th:src="@{/js/sb-admin-charts.min.js}"></script>

<script type="text/javascript">
	
	$('.input-group.date').datepicker({
    	format: 'dd/mm/yyyy',
    	language: 'pt-BR',
    	weekStart: 0,
    	startDate:'0d',
    	todayHighlight: true
    });
	
</script>

</body>
</html>